[flake8]
ignore = E121 E122 E123 E124 E126 E127 E128 E201 E221 E241 E251 E302 E305 W504
exclude = .git,__pycache__,venv
max-line-length = 100

per-file-ignores =
    gui_data_format.py: E501
    models.py: E501
    test_log_utils.py: E501
    test_event_log.py: E501
    test_scrape.py: E501
    log_format.py: E501
    test_db_utils.py: E501
    test_api_utils.py: E501
    test_get_update_string.py: E501
