{% extends "bootstrap/bs5_base_top_navbar.html" %}

{% block head %}{% endblock %}

{% block content %}
<main>

<div class="container mt-1 rounded">
  <div class="d-flex flex-column flex-fill m-0">
    <div class="d-flex">
      <div class="d-flex flex-fill align-items-center">
        <b>File:</b>&nbsp{{filename}}
      </div>

      <div class="d-flex flex-column m-0">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <div class="dropdown">
            <a class="btn btn-sm btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">File</a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              {% if files %}
              {% for f in files %}<li><a class="dropdown-item" href="{{ url_for('main.route_log')}}/{{f}}">{{f}}</a></li>{% endfor %}
              {% else %}        
                <li><a class="dropdown-item" href="#">No files</a></li>
              {% endif %}
            </ul>
          </div>
        <div class="dropdown">
          <a class="btn btn-sm btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Lines</a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{{ url_for('main.route_log') }}/{{filename}}?lines=20">20</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.route_log') }}/{{filename}}?lines=50">50</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.route_log') }}/{{filename}}?lines=100">100</a></li>
            <li><a class="dropdown-item" href="{{ url_for('main.route_log') }}/{{filename}}?lines=0">All</a></li>
          </ul>
        </div>
        </div>
      </div>

      <div class="d-flex flex-column m-0 mx-2">
          <div class="d-grid gap-2 d-md-flex justify-content-end">
            <a href="{{ url_for('main.route_download') }}/{{filename}}" class="btn btn-sm btn-primary" role="button"><i class="bi bi-download"></i> </a>
            </div>
      </div>
    </div>
  </div>


<div class="mt-1 mb-3 border border-3">

  {% if lines %}
  {% for d in lines %}{{d|safe}}{% endfor %}
  {% else %}
      <pre>Error displaying log</pre>
  {% endif %}
  </div>
</div>

</main>
{% endblock %}

{% block script %}{% endblock %}
